.bg-play{
  background-image: url('../img/2151120916.jpg');
  object-fit: cover;
  width: 1200px;
  height: 600px;
  position: relative;
  border-bottom: 20px solid darkgreen;
}

.pg{
  position: absolute;
  top: 76%;
  left: 0;
  overflow: hidden;
  transform: translate(-50% -50%);
}

.start-move{
  width: 20%;
  object-fit: contain;
  animation: movement 10s 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  
}

.pg img{
  width: 120px;
  object-fit: contain;
}

@keyframes movement{
  0%{
    left: 0;   
  }
  25%{
    left: 25%;
  }
  
  50%{
    left: 50%;

  }
  
  75%{
    left: 75%;
  }

  100%{
    left: 92%;   
  }
}

.baloon{
  position: absolute;
  top: 59%;
  left: 8%;
}

.baloon img{
  object-fit: contain;
  width: 160px;
}

.text{
  width: 100px;
  z-index: 999;
  font-weight: bold;
  position: absolute;
  top: 62%;
  left: 10.7%;
  transform: translate(-50% -50%);

  
}

.animation-hide{
  animation: hide 10s 0.5s;
}

@keyframes hide{
  0%{
    display: block; 
  }

  1%{
    display: none;
    z-index: 0;
  }
  50%{
    display: none;
  }
  100%{
    display: block;
  }
}

/* FONT BALOON */
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
}